.banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 15rem;

  background-image: url('../../assets/images/orange-bg.jpg');
  background-position: center;
  background-size: cover;
}

.banner .banner-title {
  color: #fff;
  font-weight: bold;
}